<form  class="todo-form active-pass-field" action="/check-record" method="post">
  <input type="text" class="pass_set_input" name="inputPassword" placeholder="please put the password"/>
  <input type="text" name="idRecordItem" value="<%= @itemHashId %>" hidden=""/>
  <input class='enter_password_btn' type="submit" value=""/>
</form>