<form class="todo-form" action="/<%= @delid.hashId %>" method="post">

	<input type="hidden" name="_method" value="delete">

	<div class="new-todo">
		<span> <%=@delid.content%></span>
	</div>

	<input class='todoapp_create_btn' type="submit" value=""/>
</form>
