<% @all.each do |item| %>
	
	<article class="entire_list">
 	<%=item.content%>
 	&nbsp; status: <%= item.whenDelete%>&nbsp;&nbsp;
<!--  	buttons to edit and delete -->

	<a href="/<%= item.id %>"><button id="edit">Edit</button></a>
 	<a href="/<%= item.id %>/delete"><button id="delete" >Delete</button></a>

 	</article>
 <%end%>