<form class="todo-form" action="/<%= @getid.hashId %>" method="post">


  <input type="hidden" name="_method" value="put">
  <input class="new-todo" name="message" placeholder="What message you what left?" autofocus value="<%= @getid.content %>">

  <div class="control-group">

	 <label class="control control--radio">delete in hour
		<input type="radio" name="whenDelete" value="deleteInHour" <%= @getid.whenDelete == 'deleteInHour' ? 'checked' : '' %>/>

		<div class="control__indicator"></div>
	 </label>
	 <label class="control control--radio"> delete after first visited
		<input type="radio" name="whenDelete" value="deleteAfterFirstVisited" <%= @getid.whenDelete == 'deleteAfterFirstVisited' ? 'checked' : '' %>/>

		<div class="control__indicator"></div>
	 </label>
  </div>

  <input class='todoapp_create_btn' type="submit" value=""/>
</form>
