<form action="/<%= @getid.id %>" method="post">

<!-- This is a js hack to put, since we cannot directly put a http request. Instead we use it as below -->
<input type="hidden" name="_method" value="put">
<textarea name="item" value = "<%= @getid.id %>" ><%= @getid.content %></textarea>
<input type="submit" value="Edit Item">
	
</form>