<%= erb :'partial/create' %>

<section class="main">
  <%= erb :'partial/display' %>
</section>

<% if @length > 0 %>
<footer class="footer" >
	<span class="todo-count">
	  <strong><%= @length %></strong>
	</span>
</footer>
<% end %>